<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>488960017592-8pddphv70lngl39s75gff5bflgec80sv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488960017592-8pddphv70lngl39s75gff5bflgec80sv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>488960017592-356tu66hppr35hhs2dpj0ud8vm3ietm9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCDk0oEklLthK7koXqyadzuHO_usiWFciY</string>
	<key>GCM_SENDER_ID</key>
	<string>488960017592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.altoprofe</string>
	<key>PROJECT_ID</key>
	<string>alto-profe</string>
	<key>STORAGE_BUCKET</key>
	<string>alto-profe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488960017592:ios:d3d4c68999db2b5cdf204d</string>
</dict>
</plist>